@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model UC3.Models.User
@{
    ViewData["Title"] = "Profile Page";

    bool isOwnProfile = HttpContextAccessor.HttpContext.Session.GetInt32("UserId") == Model.userId;
}
<div class="text-center">
    <div class="parent">
        <div class="div2">
            <br />
            <form method="post" action="/Home/Search">
                <input type="text" name="searchTerm" placeholder="Search Friends.." />
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="div3">
            <div class="profile-header">
                <div class="profile-container">
                    @if (string.IsNullOrEmpty(Model.profilepicture))
                    {
                        <div class="profilepic-placeholder"></div>
                    }
                    else
                    {
                        <img src="@Model.profilepicture" alt="Profile Picture" class="profilepic" />
                    }
                    <h2 class="name-label">@Model.name</h2>
                </div>
            </div>
            <br />
            <div class="bio">
                <div class="bio-header">
                    <p>Bio</p>
                </div>
                <div class="bio-content">
                    <p>@Model.bio</p>
                </div>
            </div>
            <div id="weekCalendar" class="workout-week-view" data-user-id="@Model.userId" data-is-own-profile="@isOwnProfile.ToString().ToLower()">
                <!-- Week calendar will  be  rendered here -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/calendar.js" asp-append-version="true"></script>
}